:root {
  --color-dark-gray: #2f2f2f;
  --color-light-gray: #777777;
  --color-lighter-gray: #d0cfcf;
  --color-orange: #f58840;
  --color-orange-light: #f6bb94;
  --color-red: #b85252;
  --color-cream: #eadede;
  --color-white: white;
}
body {
  background-color: black;
}
.navbar {
  background-color: black;
  width: 100%;
  z-index: 100;
}
.navbar-toggler-icon {
  height: 1.2em;
  width: 1.2em;
}

.navbar .navbar-brand {
  color: var(--color-orange);
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--color-lighter-gray);
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link {
  color: var(--color-white);
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: var(--color-white);
}

.navbar-dark .navbar-nav .active > .selected-circle {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #f58840;
  top: 6px;
  right: 0;
  left: 0;
  margin-inline: auto;
}

#back-to-top {
  color: var(--color-orange);
  font-size: 1.8rem;
  animation: backTopAnimation 2s ease alternate infinite;
  outline: none;
  border: none;
  background: transparent;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}

@keyframes backTopAnimation {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

.jumbotron {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1501612780327-45045538702b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  color: var(--color-lighter-gray);
  height: calc(100vh - 56px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeInAnimation 4s;
  animation-fill-mode: forwards;
  border-radius: 0;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jumbotron h1 {
  color: var(--color-white);
}
.heading-line {
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: var(--color-orange);
  top: 0;
  right: 0;
}

#favourite-albums,
#album-reviews {
  background-color: var(--color-lighter-gray);
}
.section-heading {
  color: var(--color-dark-gray);
  font-weight: 500;
  font-size: 1.4rem;
}
.card {
  background-color: rgb(246, 246, 246);
}

.card-img-top {
  box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.color-red {
  color: rgb(106, 34, 34);
}

.favourite-albums div.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(106, 34, 34);
  display: grid;
  place-content: center;
  animation: grow 1s infinite;
  cursor: pointer;
}
.favourite-albums div.circle > span {
  color: #eee;
  font-size: 50px;
}

@keyframes grow {
  from {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  }
}
